body {
  min-height: 2000px;
}
.header {
  background: rgba(0, 0, 0, 0.7) url(../the\ indonesian.png);
  background-blend-mode: darken;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -100px;
  background-attachment: fixed;
}
.navbar-brand,
.nav-link {
  color: blue;
}
.navbar-brand {
  font-family: 'Fredoka One', cursive;
  font-size: 36px;
}
.nav-link {
  font-family: 'Fredoka', sans-serif;
}
.jumbotron {
  padding-top: 15rem;
  color: red;
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
}
#about {
  min-height: 120vh;
  color: red;
  font-family: 'Assistant', sans-serif;
  background-color: black;
}
#about p {
  color: white;
}
img {
  width: 1000px;
  height: 300px;
  border-radius: 15px;
}
.col-md-7 p {
  font-size: 16px;
  text-align: justify;
}
#ab2 {
  padding-top: 3rem;
}
img {
  width: 500px;
  height: 300px;
}
.proccess {
  min-height: 300vh;
  background-color: red;
  color: white;
  font-family: 'Assistant', sans-serif;
}
code {
  max-width: 1400px;
  border-radius: 20px;
}
pre {
  font-size: 15px;
}
#ar2 {
  margin-top: 1rem;
}
.video {
  min-height: 150vh;
  background-color: black;
  color: red;
  font-family: 'Assistant', sans-serif;
}
#c2 {
  max-width: 1400px;
  border-radius: 20px;
}
iframe {
  padding-top: 10px;
}
section {
  padding-top: 5rem;
}
span {
  color: white;
}
.s2 {
  color: black;
}
.hr2 {
  color: black;
  width: 5rem;
}
hr {
  color: red;
  width: 5rem;
}
.reveal {
  transform: translateY(150px);
  transition: all 1s ease;
}
.reveal.active {
  transform: translateY(0px);
}
svg {
  width: 40px;
  height: 30px;
}
.text-center.p-3 {
  background-color: black;
  border: solid red;
}
footer {
  background-color: black;
}
iframe {
  border: solid red;
}
